.testdiv {
  border: 0px solid #eee;
}

.project-outer-container {
  margin-top: 250px;
  /* margin-right:40px; */
}
.project-inner-container,
.project-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-bg {
  justify-content: center;
  display: flex;
}
/*--------------------- left div  items ------------------------*/
.project-left-div {
}
.project-text-span {
  display: flex;
  justify-content: center;
}

.project-text {
  font-size: 130px;
  color: var(--text-color);
  font-weight: 700;
  display: block;
  line-height: 1em;
  text-align: left;
  transform: rotate(0deg);
  font-family: "Oswald", sans-serif;
}

.project-text1 {
  font-size: 80px;
  position: sticky;
  top: 10px;
}
.project-text1-1 {
  font-size: 1em;
  color: #ff2525;
}

/*--------------------- right div  items ------------------------*/
.card-image {
  height: 240px;
}
.card-outer-border {
 
}
.card-outer-border::after {
  content: "";
  width: 200px;
  height: 5px;
  background-color: rgb(78, 80, 80);
  bottom: 0px;
  margin: 30px auto;
}
.card-outer-margin {
  margin-bottom: 20px;
}

.card-text {
  font-size: 0.8em;
  text-align: justify;
}
.card-center {
  display: flex;
  justify-content: center;
}
.read-or-hide{

  font-weight: bold;
  cursor: pointer;

}