*{
  font-family: 'Roboto Mono', monospace;
}
:root {
  --text-color: #122932;

  }

.nav {
  margin-top: 1em;
  color: var(--text-color);
  margin-bottom: 3em;
}

.navContainer {
  margin: 1em;
}
.itemSpacing {
  margin-right: 3em;
  font-size: 1em;
  color: var(--text-color);
  padding: 0.8em;
  text-decoration: none;
  border-bottom: 1px solid #f5a320;
  transition: border-bottom 0.5s ease-in;
  text-align: center;
}
.itemSpacing:hover {
  color: #fb4f4f;
  border-bottom: 1px solid #fb4f4f;
}

.resumeButton {
  border: 0.1em solid var(--text-color);
  background-color: transparent;
  padding: 0.5em 1.8em 0.5em 1.8em;
  border-radius: 0.5em;
  color:var(--text-color);
  font-size: 1em;
  transition: background-color 0.3s ease-in;
}

.resumeButton:hover {
  background-color: #103e4b;
  color: #d1d1d1;
}

@media (max-width: 575.98px) {
  .navContainer {
    margin: 0.2em;
  }
  .nav {
    margin-top: 0em;
  }
  .itemSpacing {
    margin-top: 1em;
    text-align: left;

  }
  .resumeButton {
    margin: 0 auto;
    width: 100%;
    margin-top: 1em;
  }
  .logoimg {
    width: 30%;
  }
}
