
.contactUs{
    display: flex;
    justify-content: center;
}
.contact{
    /* border: 3px solid  black; */
    padding: 15px 30px 15px 30px;    
    display: flex;
    justify-content: flex-end;
    /* background-color:blueviolet; */
    color: rgb(55, 56, 56);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    

}
/* .contact::before{
    position: absolute;
    content: '';
    padding: 15px 30px 15px 30px; 
    background-color: #fbc93d;
    border: 3px solid greenyellow;
    top: 3px;
    left:3px;
    bottom: 3px;
    right: 3px;
    z-index: -1;


} */
.contact::after{
    position: absolute;
    content: '';
    padding: 15px 30px 15px 30px; 
    background-color: rgb(72, 21, 212);
    top: -4px;
    left:-8px;
    bottom: -8px;
    right: -8px;
    z-index: -2;
    transform: rotate(0deg) translate(-100%, 0%);
    transform-origin: 10px;
    transition: transform 0.5s ease-in-out;
    border-top: 10px solid skyblue;


}
.contact:hover::after{
    transform: rotate(0deg) translate(0, 0);

}