:root {
  --pink: #ffd4d4;
  --testborder: 1px solid #37ffd0;
  --textgreen: #37ffd0;
  --text-color: #122932;
  --background-color:#fbc93d;
  /* --text-color: #76ecfc; */
}
/* For demonstration purposes only: */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 2em;
}
.testdiv {
  /* border: 0.1em solid #eee;
  margin: 1%; */
}
.outercontainer {
  min-height: 70vh;
  display: flex;
  align-items: center;

  /* justify-content: center; */
}

.wrapper {
  margin: 0 auto;
}
.wavetext {
  font-size: 1.2em;
  /* padding-left: 12px; */
  color: var(--text-color);
}
.nametext{
  margin: 45px auto;
  font-size: 1.2em;
  color: var(--background-color)
}
.rletter {
  /* font-family: "Zen Kurenaido", sans-serif; */
  /* font-family: 'Monoton', cursive;
  font-size: 200px;
  font-weight: 500;
  display: inline-block;
  line-height: 200px;
  height: 200px;
  color: var(--text-color);
  color: var(--pink); */
  /* border: 0.1em solid #eee; */
  
}
.amletter {
  /* font-family: "Zen Kurenaido", sans-serif; */
  /* font-family: 'Monoton', cursive;
  font-size: 100px;
  font-weight: 500;
  display: inline-block;
  line-height: 300px;
  height: 200px; */
  /* color: var(--pink); */
  /* color: var(--text-color); */
}

.typewriter {
  font-size: 30px;
  /* padding-left: 95px; */
  
  color: var(--text-color);
  padding-left: 150px;
  width: 590px;
}
.typewrite {
  color:  #a050d9;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  background-color: lightgreen;

  

}

.aboutmetext {
  padding-left: 18px;
  
}

@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/* ------------------------------- */
/* .aboutmetext {
  font-size: 1.2em;
}

.mainbodydiv {
  border: var(--testborder);
  height: 80vh;
  margin-top: 3%;
}
.introbody {
  border-left: 1px solid #9b9b9b;
  padding: 3% 0% 3% 0%;
  margin: 0 auto;
  position: relative;
}
.mynameis{
  color: var(--textgreen)

}

col {
  border: var(--testborder);
}

.tagtext {
  border: var(--testborder);
  margin: 0 auto;
}
.wavetext {
  font-size: 1.2em;
  position: absolute;
  top: 10%;
  margin-left: 1em;
}
.hitext {
  font-size: 2em;
}
.nameletter {
  font-size: 6em;
  margin-left: 0em;
}
.nameletterdiv {
}
.Rletter {
  font-family: "Text Me One", sans-serif;
  color: var(--pink);
  font-size: 3em;
  border: var(--testborder);
}
.amletter {
  font-size: 1.2em;
  color: var(--pink);
}
.dotsletter {
  font-family: "Text Me One", sans-serif;
  font-size: 0.6em;
}
.designertext {
  position: absolute;
  margin-left: 0.4em;
  top: 65%;
  font-size: 1.5em;
}
.typewrite {
  color: var(--text-color);
  font-weight: bold;
} */
@media (max-width: 575.98px) {
  /* .designertext {
    top: 60%;
    font-size: 1.5em;
  }
  .Rletter {
    font-size: 2.5em;
  }
  .wavetext {
    font-size: 1em;
    top: 7%;
  }
  .introbody {
    border-left:none;
    margin:0px 15px 0px 15px;
    padding: 0px;
    
  }
  .bodytag{
    display: none;
  }
  .aboutmetext{
    font-size: 1em;
    text-align: justify;

  } */
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* .designertext {
    top: 65%;
    font-size: 1.5em;
  }
  .Rletter {
    font-size: 2.5em;
  }
  .wavetext {
    font-size: 1em;
    top: 8%;
  }
  .introbody {
    border-left:none;
    padding: 0px;
    
  }
  .bodytag{
    display: none;
  }
  .aboutmetext{
    font-size: 0.9em;
    text-align: justify;
  } */
}
