:root {
  --pink: #ffd4d4;
  --testborder: 1px solid #37ffd0;
  --textgreen: #37ffd0;
  --text-color: #122932;
  --background-color: #fbc93d;
  /* --text-color: #76ecfc; */
}
/* For demonstration purposes only: */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 2em;
}

.outercontainer {
  min-height: 70vh;
  /* display: flex;
  align-items: center;  */
  position: relative;
}

.wrapper {
  position: absolute;
  top: 130px;
  

}
.wavetext {
  font-size: 1.5em;
  color: var(--text-color);
}
.nametext {
  margin: 45px auto;
  font-size: 1.2em;
  color: var(--background-color);
}
.github,
.linkedin {
  height: 30px;
  width: 30px;
  float: right;
  cursor: pointer;
  margin: 1%;
}
.typewriter {
  font-size: 2em;
  color: var(--text-color);
  text-align: right;
}
.typewrite {
  color: #9329df;
  /* color: #6f77f4; */
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  /* background-color: lightgreen; */
}

.aboutmetext {
  padding-left: 18px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 575.98px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
